.form-light-heading{
    font-size: 20px;
    font-weight: 500;
    color: $light-dark;
    @media only screen and (max-width:500px){
        font-size: 16px;
    }
    a{
        font-size: 20px;
        font-weight: 500;
        color: $active-blue;
        text-decoration: underline !important;
        @media only screen and (max-width:500px){
            font-size: 16px;
        }
    }
}
.wallpaper-div{
    position: relative;
}
.upload-btn{
    border: none !important;
    position: absolute;
    bottom: 40px;
    left: 20px;
    background-color: $brand-blue;
    border:$brand-blue;
    // padding: 5px 7px;
    border-radius: 3px;

    
    
    label{
        color: white;
    font-weight: 400;
   font-size: 14px;

    }
}
.upload-vieo-btn{
    border: none !important;
    // position: absolute;
    // bottom: 40px;
    // left: 20px;
    background-color: $brand-blue;
    border:$brand-blue;
    // padding: 5px 7px;
    border-radius: 3px;

    label{
        color: white;
    font-weight: 400;
   font-size: 14px;

    }
}
.pb-50{
    padding-bottom: 90px !important;
}
.form-input{
    background-color: white;
    // border: 1px solid $text-gray-light;
    padding: 7px 10px;
    border-radius: 3px;
    font-size: 16px;
    color: $light-dark;
    border: none !important;
    outline: none !important;

    &::placeholder{
        font-weight: 500 !important;
        color: $text-gray-light;
    }
}
.form-input-border{
    border: 1px solid $text-gray-light !important;
}
.form-simple-input{
    background-color: white;
    border: 1px solid $text-gray-light !important;
    padding: 7px 10px;
    border-radius: 3px;
    font-size: 16px;
    color: $light-dark;
    outline: none !important;
    width: 100% !important;
    &::placeholder{
        font-weight: 500 !important;
        color: $text-gray-light;
    }
}

.form-textarea{
    background-color: white;
    border: 1px solid $text-gray-light;
    padding: 7px 10px;
    border-radius: 3px;
    font-size: 16px;
    color: $light-dark;
    width: 97%;
}

.form-checkboxes-dropdown{
    background-color: white;
    border: 1px solid $text-gray-light;
    padding: 7px 0px;
    border-radius: 3px;
    font-size: 16px;
    color: $light-dark;
    width: 100% !important;
    min-width: 100px;
}
.form-enter-input{
    background-color: white !important;
    border: 1px solid $text-gray-light !important;
    padding: 10px 10px !important;
    border-radius: 3px !important;
    font-size: 18px !important;
    color: $light-dark !important;
    min-width: 70px !important;

    @media only screen and (max-width:767px){
        min-width: 50px !important;
        font-size: 14px !important;
    }
    &:focus{
        outline: none !important;
        box-shadow: none !important;
    }
}
.form-enter{
 background-color: #5B5B5B;
 font-size: 20px;
 font-weight: 500;
 color: white;
 padding: 10px 30px;
 text-transform: uppercase;
 border: 1px solid $text-gray-light !important;
 cursor: pointer;
 @media only screen and (max-width:767px){
    min-width: 50px !important;
    font-size: 16px !important;
    padding: 10px 20px;
}
}
.pop-location{
    position: relative;
    transition: none !important;
    top: 0 !important;
    width: 100% !important;
}
.pop-recent-locations{
    max-height: 56vh !important;
}
.size-text{
    @media only screen and (max-width:500px){
        font-size: 12px;
        white-space: nowrap;
    }
}




// .form-select{
//     background: url("data:image/svg+xml,<svg height='10px' width='10px' viewBox='0 0 16 16' fill='%23000000' xmlns='http://www.w3.org/2000/svg'><path d='M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z'/></svg>") no-repeat;
//     background-position: calc(100% - 0.75rem) center !important;
//     -moz-appearance:none !important;
//     -webkit-appearance: none !important; 
//     appearance: none !important;
//     padding-right: 1rem !important;

    
// }


.custom-selct-form{
    background-color: white;
    border: 1px solid $text-gray-light;
    border-radius: 3px;
    font-size: 16px;
    color: $light-dark;
    width: 100% !important;
    min-width: 70px;
   height: 45px;
    @media only screen and (max-width:479px){
        min-width: 100px;
    }
    .select-selected{
   width: 100% !important;
   display: flex;
   align-items: center;
   &::after{
    top: 18px !important;
    right: 15px !important;
   }
    }
    .select-items{
 width: 100%;
 z-index:100;
 right: 0 !important;
 left: 0 !important;
    }
}
.form-fix-btns{
    width: 100px !important; 
    background-color: $primary;
    color: white;
    font-size: 16px;
    font-weight: 500;
    border: 2px solid $primary;
    width: 150px !important; 
    height: 40px;
    margin-left: 15px;
    border-radius: 3px;

    &:hover{
        background-color: white;
        color: $primary;
    }
}
.btn-blank-form{
    font-size: 16px;
    font-weight: 500;
    background-color: white !important;
    color: $primary;
    border: 2px solid $primary;
    width: 150px !important;
    height: 40px;
    margin-right: 15px;
    border-radius: 3px;
    &:hover{
        background-color: $primary !important;
        color: white !important;
    }

    @media only screen and (max-width:479px){
        font-size: 15px;
        width: 130px !important;
        margin-right: 7px !important;
    }
}
// ========================preview
.preview-dialog{
    max-width: 48% !important;
   
    .modal-header{
        background-color: $primary;
        color: white;
    }

    @media only screen and (max-width:767px){
         max-width: 100% !important;
         margin: 0px !important;
    }
}
.modal-dialog-scrollable{
    @media only screen and (max-width:767px){
       height: 100% !important;
   }
}
.preview-dialog .modal-body{
    padding:0px 3px !important;
    overflow-x: hidden !important;
}
.preview-dialog .modal-body::-webkit-scrollbar {
    width: 10px;
    position: relative;
    z-index: 10000 !important;
}

.preview-dialog .modal-body::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    position: relative;
    z-index: 10000 !important;
}

.preview-dialog .modal-body::-webkit-scrollbar-thumb {
    background-color: $primary;
    outline: 1px solid transparent;
    border-radius: 10px;
    position: relative;
    z-index: 10000 !important;
}

.preview-close{
    background-color: transparent;
    color: white;
    border: none;
    font-size: 25px;
}
.preview-modal-header{
    padding: 5px  15px!important;

    
}
.select-from-gallery{
    font-size: 18px;
    color: $red;
    font-weight: 500;
    background-color: transparent;
    border: none;
    text-decoration: underline !important;
    i{
        color: $light-dark;
        margin-right: 5px;
    }
    label{
        text-decoration: underline !important;
    }

    @media only screen and (max-width:479px){
        font-size: 13px;
    }
}

.remove-img{
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 22px;
    cursor: pointer;
    background-color: white;
    height: 23px;
    width: 24px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    i{
        color: black;
    }
}
.remove-img2{
    position: absolute;
    top: -5px;
    right:-5px;
    font-size: 22px;
    cursor: pointer;
    background-color: white;
    height: 23px;
    width: 24px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    i{
        color: black;
    }
}
.remove-img3{
    position: absolute;
    top: 23px;
    right:-5px;
    font-size: 22px;
    cursor: pointer;
    background-color: white;
    height: 23px;
    width: 24px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    i{
        color: black;
    }
}